.content{
	display: flex;
	gap: 10px;
	padding: 10px 50px;
	font-size: 16px;
	font-weight: 300;
}

.left,
.right{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	justify-content: center;
	gap: 10px;
}

.left{
	flex-basis: 70%;
	justify-content: flex-start;
}

.right{
	flex-basis: 30%;
	align-items: center;
	justify-content: flex-start;
}

.ig-description{
	border-left-style: solid;
	border-right-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-color: #F2B263;
	border-radius: 10px;
	font-weight: 100;
	font-size: 16px;
	font-style: italic;
	background-color: #18403C;
}

.title{
	font-size: 22px;
	font-weight: 500;
	color: #F2B263;
}

.text-medium{
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #fff;
}

.item-card{
	display: flex;
	flex-direction: column;
	background-color: #18403C;
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	border-color: #F2B263;
}

.card-image-container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-image{
	width: 100%;
	height: auto;
	aspect-ratio: 1/1;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #96A694;
	border-bottom: 1px solid;
	border-color: #F2B263;
	border-radius: 10px;
}

.card-content{
	padding: 20px;
}

.card-title{
	margin-bottom: 20px;
	font-size: 22px;
	font-weight: 500;
}

.inner-title{
	color: #F2B263;
	font-size: 22px;
	font-weight: 500;
}

.card-info{
	display: flex;
	align-self: end;
	align-items: center;
}

.card-info ul{
	border-bottom: #F2B263 solid 1px;
}

@media screen and (max-width: 910px){
	.content{
		flex-direction: column-reverse;
	}
}