/*
#############################################################################
#					Estilo do corpo principal da página						#
#############################################################################
*/
.content{
	display: flex;
	gap: 10px;
}

.logo-wrapper{
	flex-basis: 40%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

#game-logo{
	width: 100%;
	height: auto;
	aspect-ratio: 1/1;
	background-image: url(../img/logo.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-width: 1px;
	border-style: solid;
	border-color: #F2B263;
	border-radius: 10px;
}

#welcome{
	display: flex;
	align-items: flex-start;
    justify-content: center;
    flex-direction: column;
	width: 100%;
	height: auto;
	flex-basis: 60%;
	color: #fff;
	text-decoration: none;
	font-size: x-large;
	font-weight: 500;
}

@media screen and (orientation: portrait),
screen and (max-width: 910px){
	.content{
		flex-direction: column;
	}
	#welcome{
		justify-content: flex-start;
	}
}